{{ form_start (unFormulaire) }}
    {{ form_widget (unFormulaire) }}
    <input type="submit" class="btn" value="Envoyer" 
        <a href="{{ path('rajouter_inscription') }}">
        </a>
{{ form_end (unFormulaire)}}
