{% extends "base.html.twig" %}
{% block body %}
Sport :

<h4>
Nom: {{sport.getNom}}
<br>
Catégorie: {{sport.getCategorie}}
</h4>

<button type="submit" class="btn">Inscription</button>

{% endblock %}